<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Employees</title>
    </head>
    <body>

        <!--suppress HtmlDeprecatedAttribute -->
        <table border="2">
            <tr>
                <th colspan="4">
                    Employees
                </th>
            </tr>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>options</th>
            </tr>
            <tr th:each="employee:${employees}">

                <td th:text="${employee.id}"></td>
                <td th:text="${employee.username}"></td>
                <td th:text="${employee.password}"></td>
                <td>
                    <a>modify</a>
                    <a>delete</a>
                </td>

            </tr>

        </table>

    </body>
</html>