<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Day2</title>
    </head>
    <body>

        <h1>This ia the DAY2 page</h1>
        <a th:href="@{/success}">Simulating login successfully</a>
        <br/>
        <a th:href="@{/success1}">Simulating login 2</a>
        <form th:action="@{/success}" method="post">
            <input type="submit" value="POST SUBMIT"/>
        </form>
        <a th:href="@{/hehehe}">This ia a GetMapping Link</a>
        <a th:href="@{/hahaha}">无参进入hahaha</a>
        <a th:href="@{/hahaha(username='Dage',password=123456)}">带参带请求头进入xixixi</a>
        <a th:href="@{/aaa/aha(username='Dage')}">带参带通配符?进入aha</a>
        <a th:href="@{/heeeetui(username='Dage')}">带参带通配符*进入hetui</a>
        <a th:href="@{/aaa/aa/a/ati(username='Dage')}">带参带通配符**进入ati</a>
        <a th:href="@{/hehehehe/hehe/Dage/123456}">通配符进入hehe</a>
        <a th:href="@{/abc(username='Dage')}">进入参数获取页面</a>

    </body>

</html>